body {
  padding-top: 50px;
   background-color:#2098D1;
   color: white;
}
.accueil {
  padding: 40px 15px;
  text-align: center;
  vertical-align: middle;
}

 img {
   transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
   overflow: hidden;
}

img:hover {
   transition: all 2s;
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
}


.navbar-brand{height:60px;}

.portfolio{


}


.accueil{
	height:600px;

}
